

@import url('https://fonts.googleapis.com/css?family=Dosis:200,400');

body {
  width: 700px;
  margin: auto;
  position: relative;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  background: url('/fox.gif') no-repeat;
  background-size: 10% auto;
}

* {
  padding: 0;
  margin: 0;
}

ul:nth-child(2) {
  position: absolute;
  text-align: right;
  top:70px;
  right:0px;
  list-style-type:none;
}

ul:nth-child(2) li {
  padding: 0;
  position: relative;
}

ul:nth-child(2) a {
  text-decoration: none;
  color: black;
}

ul:nth-child(2) a:hover {
  color:#9ec3ff;
}

p:nth-child(3) {
  font-size: 26px;
  font-style: italic;
}

p {
  text-align: justify;
  padding-bottom:40px;
}

strong {
  font-size: 27px;
}

h1#arctic {
  color: #9ec3ff;
  font-size: 200px;
  font-weight: 200;
}

