

@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

* {
  padding: 0;
  margin: 0;
}

body { 
  overflow-x: hidden;
  overflow-y:scroll;
  background: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  margin:auto;
  padding: 0px 30px;
  margin-top:50px;
  margin-bottom:40px;
  font-size: 19px;
  padding-bottom:40px;
  position: relative;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 26px;
  font-weight: normal;
  font-family: 'Lora', Times, serif;
  padding-top:30px;
}

a {
  color: #222;
}

a:hover {
  color: #e8e;
}


h1 {
  font-size: 64px;
  margin-bottom:40px;
}

h1 a, h1 a:hover {
  color: #222;
  text-decoration: none;
}

h1 em {
  font-size: 26px;
  display:inline-block;
  white-space: no-wrap;
}

h2 {
  font-size:30px;
  /* font-weight: bold; */
  /* text-decoration: underline; */
}

p {
  margin-top:20px;
  text-align: justify;
}

em {
  color: #e8e;
  font-size: 20px;
}

#nav {
  list-style-type: none;
}

#nav li {
  padding-bottom:4px;
}

#nav li a {
  text-decoration: none;
  color: #222;
  position:relative;
  right: -15%;
}

#nav li a:hover {
  color: #e8e;
}

code {
  background-color: white;
  border: 1px solid #333;
  border-radius: 2px;
  padding: 2px 6px;
  color: #e8e;
  font-size: 16px;
  margin-right:3px;
}

blockquote {
  border-left: 3px solid #333;
  padding-left: 20px;
  margin-left:10px;
  padding-bottom:3px;
  /* specifically for the front page... */
}


pre code {
  display: block;
  white-space: pre-wrap;
  /* background: none; */
  /* border-radius: none; */
  /* padding: none none; */
  border: 1px solid #333;
  background-color: white;
  border-radius: 4px;
  padding:14px;
  margin-top:30px;
  margin-bottom:30px;
}

@media screen and (min-width: 800px) {
  body {
    max-width:600px;
  }
  img#fox {
    position: fixed;
    width:110px;
    left: calc(50% - 450px);
    top:10px;
  }

  #nav {
    position: absolute;
    top: -30px;
    right: 30px;
    text-align: right;
    /* float: right; */
    padding-right: 7px;
  }
}

@media screen and (max-width: 800px) {
  body {
    max-width: inherit;
    padding-top:30px;
  }
  img#fox {
    position: absolute;
    left:-15px;
    width:70px;
    top:-54px;
  }

  #nav {
    position: absolute;
    top:0px;
    left:20px;
    width: 80%;
  }

  #nav li {
    display: inline;
    padding-right:10px;
  }
}


